@model PizzaFormModel
@{
    Layout = "LayoutCustom";

    var pizze = Model;

}

<div class="container">
    <h1 class="text-center text-light">Modifica la tua Paolo-Pizza</h1>

    <form asp-controller="Pizza" asp-action="Update" asp-route-id="@pizze.Pizza.Id" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group p-2">
            <label asp-for="Pizza.Name" class="control-label text-light">Nome</label>
            <input asp-for="Pizza.Name" class="form-control" value="@pizze.Pizza.Name" />
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>
        <div class="form-group p-2">
            <label asp-for="Pizza.Description" class="control-label text-light">Descrizione</label>
            <textarea asp-for="Pizza.Description" class="form-control">@pizze.Pizza.Description</textarea>
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>
        <div class="form-group p-2">
            <label asp-for="Pizza.ImgUrl" class="control-label text-light">Scegli l'immagine</label>
            <input asp-for="Pizza.ImgUrl" type="file" class="form-control-file" />
            <span asp-validation-for="Pizza.ImgUrl" class="text-danger"></span>
        </div>
        <p class="text-light">Categoria:</p>
        <select asp-for="Pizza.CategorieId" rows="5" class="d-block w-100">
            <option value=""></option>
            @if (pizze != null && pizze.Pizza != null)
            {
                @foreach (Categorie categoria in pizze.ListaCategorie)
                {
                    @if (pizze.Pizza.CategorieId == categoria.Id)
                    {
                        <option value="@categoria.Id" selected>@categoria.Nome</option>
                    }
                    else
                    {
                        <option value="@categoria.Id">@categoria.Nome</option>
                    }
                }
            }
        </select>

        <div class="my-2 text-light">
            <h2>Modifica gli ingredienti:</h2>
            @foreach (var ingrediente in pizze.Ingredienti)
            {

                <div class="form-check">
                  @*  @if ( pizze.Pizza.Ingredienti == "checked")*@
                    {
                     <input class="form-check-input" type="checkbox" name="SelectedIngredienti" value="@ingrediente.Value" id="@ingrediente.Text" >
                   
                    <label class="form-check-label" for="@ingrediente.Text">
                        @ingrediente.Text
                    </label>
                    }
                </div>
                }
          
            }

        </div>



        <div class="form-group p-2">
            <label asp-for="Pizza.Prezzo" class="control-label text-light">Prezzo</label>
            <input asp-for="Pizza.Prezzo" class="form-control" type="number" min="0" step="0.1" value="@pizze.Pizza.Prezzo" />
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
        </div>

        <div class="form-group p-2">
            <input type="submit" value="Salva" class="btn btn-danger btn-lg p-2 m-2" />
        </div>
    </form>
</div>
